.input {
  width: 100%;
  font-size: 24px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  outline: none;

  padding: 18px;

  &::placeholder {
    color: rgb(203, 200, 200);
    font-style: italic;
  }
}
